@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "GTWalsheimPro";
  src: url("./assets/fonts/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "GTWalsheimPro", sans-serif;
}




